* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #18181B;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  display: grid;
  place-items: center;
}
.box-wrapper {
  max-width: 400px;
  width: 100%;
  display: grid;
  gap: 25px;
}
.head {
  text-align: center;
  padding: 13px 15px;
  font-size: 20px;
}
.box-area {
  width: 100%;
  list-style: none;
  padding: 10px;
  box-shadow: inset 0 0 0 2px rgba(255,255,255,.1);
  display: grid;
  gap: 10px;
}
.item-area {
  display: grid;
  gap: 10px;
}
.box-item {
  background: #737373;
  width: 100%;
  line-height: 55px;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  padding-inline: 20px 0px;
  display: flex;
  justify-content: space-between;
}
.del {
  background: rgba(0, 0, 0, .1);
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  cursor: pointer;
  transition: background 200ms ease-in-out;
}
.del:hover {
  background: rgba(0, 0, 0, .5);
}
.inputbox {
  background: rgba(255,255,255,1);
  font-family: 'Poppins', sans-serif;
  width: 100%;
  font-size: 15px;
  padding: 13px 15px;
  display: block;
}
.addNew {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 0 2px rgba(255,255,255,.1);
  display: flex;
}
#addto {
  width: auto;
  flex-grow: 1;
}
#add-btn {
  background: #16A34A;
  width: 49px;
  height: 49px;
  color: #fff;
  font-size: 30px;
  flex: 0 0 49px;
  cursor: pointer;
  transition: background 200ms ease-in-out;
}
#add-btn:hover {
  background: #15803D;
}